/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_tree ./lib
 *= require_self
 *= require ./base
 */

@font-face {
  font-family: "leagegothic";
  src: url("leaguegothic-regular-webfont.eot");
  src: local("☺"),
    url("leaguegothic-regular-webfont.woff") format("woff"),
    url("LeagueGothic-Regular.otf") format("opentype"),
    url("leaguegothic-regular-webfont.svg#leaguegothic-regular-webfont") format("svg");
  }

@font-face {
  font-family: "ostrich";
  src: url("ostrich-bold-webfont.eot");
  src: local("☺"),
    url("ostrich-bold-webfont.woff") format("woff"),
    url("ostrich-bold-webfont.svg#ostrich-bold-webfont") format("svg");
  }
