// Application scss.

//$font-heading: 'leagegothic', sans-serif;

body {
  //background:url(/assets/back.jpg) no-repeat left top #f03813;
  background-size:100%;
  color: #333;
  font-size: 110%;
}

h1{
  font-family:'ostrich', sans-serif;
  font-size:300%;
  font-weight:lighter;
}

h2{
  color:#444;
  font-family:'leagegothic' sans-serif;
  font-size:400%;
  font-weight:lighter;
  letter-spacing:1px;
  margin:2px;
}

.hh3{
  background:rgba(246, 95, 57,0.7);
  font-family:'leagegothic' sans-serif;
  font-size:160%;
  padding:5px;
}
.container{
  
}

.home_header{
  background-size:100%;
  background-position:0 28%;
  height:300px;
  margin:100px 0 0 0;
  position:relative;
  width:100%;
  p{
    line-height:1.7em;
  }
}

.home_lessons {
  p{
 
  }
}

.organization-blurb {
  background: rgba(0,0,0,0.1);
}


.cover-art {
  position: relative;
  display: inline-block;

  .date {
    background: white;
    font-size: 50%;
    padding: 1% 20px;
    position: absolute;
    width: 100%;
  }
  .info{
    bottom:0px;
    color: #fff;
    font-size: 150%;
    position: absolute;
    width: 100%;
    h1{
      text-align:center;
    }
    p{
      background: white;
      color:#333;
      font-size:90%;
      font-weight:lighter;
      line-height:1.1em;
      padding:1% 3%;
    }
  }
}

.newsletter {
  background: rgba(0,0,0,0.1);
}

.lesson {
  background: rgba(255,255,255,0.5);
  padding: 20px 0;

  p {
    margin-bottom: 0;
  }

  .summary {
    margin-bottom: 10px;
  }
}

.badge_bowandarrow {
  background:url(badge-bowandarrow.png) no-repeat;
  left:-10%;
  height:250px;
  opacity:0.4;
  top:-160px;
  position:absolute;
  width:250px;
  z-index:-1;
}

.badge_fencing {
  background:url(badge-fencing.png) no-repeat;
  height:250px;
  right:-50px;
  opacity:0.4;
  top:-50px;
  position:absolute;
  width:250px;
  z-index:-1;
}

.archive{
  position:relative;
}

.starter_word{
  font-size:300%;
  font-family:'leagegothic', sans-serif;
  line-height:0em;
  padding:0 0 0 15px;
}

.logo_main{
  width:250px;
  margin:0 auto;
  .logo2{
    background:url(logo2.png) no-repeat;
    height:250px;
    width:250px;
  }
}

.event_header{
  background:#1e97c4;
  padding:0px;
}

.new_lesson_title{
  padding:0px;
}

.new_lesson{
  padding:0px;
}

.new_lesson_info{
  background:#fef7cb;
  padding-left:0px;
  padding-right:0px;
}

.newl{
  font-size:200%;
  height:140px;
  line-height:0em;
  text-align:right;
  padding:0 130px 0 0;
  width:100%;
}

.new_lesson_time{
  background:url(icon-clock.png) no-repeat right;
}
.new_lesson_map{
  background:url(icon-map.png) no-repeat right;
}
.new_lesson_teacher{
  background:url(icon-teacher.png) no-repeat right;
}
.logo_container {
  margin:-60px auto 0px;
  position:relative;
  width:333px;
}
.logo {
  margin: -338px auto;
  position:absolute;
}
.circle1 {
  position:absolute;
  -webkit-transform-origin: 167px 167px;
  -moz-animation:counterClockwiseSpin 5s infinite ease-in;
  -webkit-animation:counterClockwiseSpin 5s infinite ease-in;
}
.circle2 {
  position:absolute;
}
.circle3 {
  position:absolute;
}
.circle4 {
  position:absolute;
}
.circle5 {
  position:relative;
}

.icon_sf {
  opacity:0;
  position:absolute;
  margin: -350px 0px 0px 0px;
}
.orange_particles {
  position:absolute;
  margin: -332px 0px 0px 42px;
  -moz-animation:pulse 6s infinite ease-in-out;
  -webkit-animation:pulse 6s infinite ease-in-out;
}

.logo_container:hover{ 
  .circle5{
      -moz-transform-origin: 167px 167px;
  -webkit-transform-origin: 167px 167px;
  -moz-animation:clockwiseSpin 3s infinite;
  -webkit-animation:clockwiseSpin 3s infinite;
  }
  .circle3 {
    -webkit-transform-origin: 167px 167px;
    -moz-animation:clockwiseSpin 8s infinite ease-in-out;
    -webkit-animation:clockwiseSpin 8s infinite ease-in-out;
  }
  .circle4 {
    -moz-transform-origin: 167px 167px;
    -webkit-transform-origin: 167px 167px;
    -moz-animation:clockwiseSpin 8s infinite ease;
    -webkit-animation:clockwiseSpin 8s infinite ease;
  }
  .circle2 {
    -webkit-transform-origin: 167px 167px;
    -moz-animation:clockwiseSpin 1s infinite ease-out;
    -webkit-animation:clockwiseSpin 1s infinite ease-out;
  }
  .icon_sf{
    -webkit-transform-origin: 167px 167px;
    -moz-animation:pulse 1s infinite ease-out;
    -webkit-animation:pulse 1s infinite ease-out;
    -webkit-animation:fade 1s infinite ease-out;
  } 
}

@-webkit-keyframes fade {
  0%   { opacity: 0; }
  10%  { opacity: 0.8; }
  100% { opacity: 0; }
}

@-webkit-keyframes pulse {
    0% {-webkit-transform:scale(1, 1);}
    50% {-webkit-transform:scale(1.1, 1.1)}
    100% {-webkit-transform:scale(1, 1);}
  }
  @-moz-keyframes pulse {
    0% {-moz-transform:scale(1, 1);}
    50% {-moz-transform:scale(1.1, 1.1);}
    100% {-moz-transform:scale(1, 1);}
  }
  @-moz-keyframes clockwiseSpin {
    0% {-moz-transform:rotate(0deg);}
    100% {-moz-transform:rotate(360deg);}
  }
  @-webkit-keyframes clockwiseSpin {
    0% {-webkit-transform:rotate(0deg);}
    100% {-webkit-transform:rotate(360deg);}
  }
  @-moz-keyframes counterClockwiseSpin {
    0% {-moz-transform:rotate(0deg);}
    100% {-moz-transform:rotate(-360deg);}
  }
  @-webkit-keyframes counterClockwiseSpin {
    0% {-webkit-transform:rotate(0deg);}
    100% {-webkit-transform:rotate(-360deg);}
  }
