  <div class="footer_logo_container">
    <div class="circle1">
        <img src="/assets/circle1.png"
        />
    </div>
    <div class="circle2">
        <img src="/assets/circle2.png"
        />
    </div>
    <div class="circle3">
        <img src="/assets/circle3.png"
        />
    </div>
    <div class="circle4">
        <img src="/assets/circle4.png"
        />
    </div>
    <div class="circle5">
        <img src="/assets/circle5.png"
        />
    </div>
    <div class="footer_logo">
        <img src="/assets/planet.png"
        />
    </div>
    <div class="icon_sf">
        <img src="/assets/sf.png"
        />
    </div>
</div>